.flash-message {
  position: fixed;
  width: 95%;
  max-width: 300px;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 14px 25px;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  color: #fff;
  font-weight: 500;
  z-index: 1000;
  animation: slideDown 0.3s ease, fadeOut 0.3s ease 2.7s forwards;
}

.flash-message.success {
  background: linear-gradient(90deg, #00c853, #64dd17);
  box-shadow: 0 0 15px rgba(0, 200, 83, 0.5);
}

.flash-message.error {
  background: linear-gradient(90deg, #d32f2f, #ff5252);
  box-shadow: 0 0 15px rgba(255, 82, 82, 0.4);
}

.flash-message.warning {
  background: linear-gradient(90deg, #ff9800, #ffc107);
  box-shadow: 0 0 15px rgba(255, 193, 7, 0.4);
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translate(-50%, -20px);
  }
  to {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
    transform: translate(-50%, -10px);
  }
}
