.home1-container {
  background: #faf7e7;
  min-height: 100vh;
  padding: 15px 0;
  font-family: 'Segoe UI', Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.top-title {
 width: 100%;
  text-align: center;
  background: #ffa726; /* Modern orange */
  padding: 14px 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.home1-title {
  font-size: 1.6rem;
  text-align: center;
  margin-bottom: 20px;
  letter-spacing: 2px;
  font-weight: 500;
  font-family: "Segoe UI", Arial, sans-serif;
}

.food-list-section {
  width: 360px;
  padding: 88px 0px 9px; /* top space for header, bottom for navbar */
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin: auto;
}

.food-card {
  display: flex;
  align-items: center;
  background: #fff;
  border: 2px solid #d9d5c5;
  border-radius: 14px;
  padding: 8px 14px;
  box-shadow: 0 1px 6px #bdb8a0;
}

.food-image {
  width: 65px;
  height: 65px;
  border-radius: 10px;
  object-fit: cover;
  margin-right: 16px;
  border: 1px solid #d9d5c5;
}

.food-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 12px;
}

.food-name {
  color: black;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 5px;
   display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.food-price {
  font-size: 1rem;
  color: #333;
  font-family: monospace;
}

.add-cart-btn {
  background: #dedfcf;
  border: 1px solid #d9d5c5;
  border-radius: 7px;
  padding: 5px 18px;
  color: #333;
  font-size: 1rem;
  text-decoration: none;
  font-family: inherit;
  cursor: pointer;
  transition: background 0.2s;
}

.add-cart-btn:hover {
  background: #e6c3a6;
}

.all-food-footer {
  
  text-align: center;
  color: #222;
  font-size: 1rem;
  font-family: "Segoe UI", Arial, sans-serif;
}

.navbar-footer {
  margin: 32px 0 8px 16px;
  background: #f3efd7;
  border: 2px solid #dedfcf;
  padding: 12px 0;
  border-radius: 14px;
  width: 90%;
  text-align: center;
  font-size: 1.15rem;
  font-weight: 500;
  color: #444;
  letter-spacing: 1.5px;
}
